.aboutInfo {
    margin-left: 40px;
}

.primaryFont {
    font-family: 'Roboto Mono', monospace;
}

.columns__about {
    width: 70%;
    margin: auto;
}

#div_about {
    height: 450px;
    background-color: #18215f;
    color: white;
    overflow-y: auto;
    padding-left: 20px;
    margin-right: 25px;
}

.title_about {
    font-weight: bold;
    font-size: 2em;
}

.location_about {
    font-size: .8em;
}

#title_math {
    color: #18215f;
    font-weight: bold;
}

.paragraph_math {
    color: #18215f;
}